{% extends "index.html" %}
{% block movieTrend %}
<!-- Search -----------------------> 
<form class="search" action="/movie" method="POST">
  <input class="form-control" type="search" name="Title" placeholder="Find your favorite movies..." autofocus>        
  <button class="fas fa-search" type="submit"></button>
</form>
<!-- -->
<div class="card-popular" action="/movie" method="POST">
    {% for popular in listTrendMovie %}
        <div class="card-box">                   
          <a href="/detail/{{ popular.id }}">
            <img class="poster" src="{{ url_img_base }}{{ popular.poster_path }}" alt="{{ popular.title }}">                
          </a>              
        </div>
        {% endfor %}
</div>
{% endblock %}